{% extends 'base.html' %}

{% block title %}Workplace{% endblock title %}

{% block head %}
<link href="{{ BASE_PATH }}media/css/whiteFrame.css" rel="stylesheet"	type="text/css" media="screen" />
<link href="{{ BASE_PATH }}media/css/projectHome.css" rel="stylesheet"type="text/css" media="screen" />

<!-- General functions -->
<script src="{{ BASE_PATH }}media/js/casamcustom.js" type="text/javascript"></script>
<script src="{{ BASE_PATH }}media/js/ajax.js" type="text/javascript"></script>
<script src="{{ BASE_PATH }}media/js/getmouse.js" type="text/javascript"></script>

<!-- Defining global variables -->
<script type="text/javascript">
	var base_path = "{{ BASE_PATH }}";
	var projectID = "{{ id }}";
	var flashpainting = false;
	var addedImages = new Array();
  var total_images = 0;
	var measurements = new Array();
	var checkboxes = new Array();
  var changes = new Array();
  var bitmaps = new Array();
  var savelm = createRequestObject();

  var savex;
  var savey;
</script>

<!-- Building layout functuion -->
<script src="{{ BASE_PATH }}media/js/layout.js" type="text/javascript"></script>

<!-- Core object functions -->
<script src="{{ BASE_PATH }}media/js/images.js" type="text/javascript"></script>
<script src="{{ BASE_PATH }}media/js/bitmaps.js" type="text/javascript"></script>
<script src="{{ BASE_PATH }}media/js/measurements.js" type="text/javascript"></script>
<script src="{{ BASE_PATH }}media/js/undo.js" type="text/javascript"></script>
<script src="{{ BASE_PATH }}media/js/states.js" type="text/javascript"></script>
<script src="{{ BASE_PATH }}media/js/annotations.js" type="text/javascript"></script>
<script src="{{ BASE_PATH }}media/js/distance.js" type="text/javascript"></script>
<script src="{{ BASE_PATH }}media/js/pdm.js" type="text/javascript"></script>

<script type="text/javascript">

// What to do on load
document.observe("dom:loaded", function()
{
  checkAuthenticationAndExecute(function(){
		
		// Add tabs in whiteFrame
		$('leftFrame_content').insert(newTab('Project information', $('tab_projectinfo'), false, false));
		$('leftFrame_content').insert(newTab('Pictures', $('tab_layers'), true, false));
		
		$('rightFrame_content').insert(newTab('Possible measurements', $('tab_measurements'), true, false));
		$('rightFrame_content').insert(newTab('Zoom', $('tab_zoom'), true, false));
		$('rightFrame_content').insert(newTab('Papers', $('tab_papers'), false, false));  
		$('rightFrame_content').insert(newTab('Action history', $('tab_attributes'), false, false));
		$('rightFrame_content').insert(newTab('States', $('tab_states'), false, false));
		$('rightFrame_content').insert(newTab('Legenda', $('tab_legenda'), true, false));
		$('zoomImage').hide();

	  // Add mouse listener for image
		Event.observe('big_images','mousemove', getMouseXY);

		// Load images
		getProjectImages(false);
		getProjectOverlays();

		// Load tags
		getProjectTags();

		// Load potential measurements
		getProjectPotentialMeasurements();

		// Load annotations
		getProjectAnnotations();
		
		// Make draggable's for each Measurement
		new Draggable('lmdd');

		createBitmapSlider();

		resizeScreenElements(true);
		Event.observe(window,'resize',function(){
			resizeScreenElements(false);
		});
		Event.observe('editTagsLink','click',function(){
			popupIFrame(base_path+'tag/select/{{ id }}');
		});
		Event.observe('editMeasurementLink','click',function(){
      popupIFrame(base_path+'pm/new/{{ id }}');
    });
    Event.observe('editMeasurementTypeLink', 'click', function(){
			popupIFrame(base_path+'pmt/new/{{ id }}');
		});
    Event.observe('undoLink','click',function(){
    	undoLastChange();
    });
    makeDistanceDiv();
    
    getLegenda();
	});
});

</script>
{% endblock head %}

{% block body %}
<div id="leftFrame" class="whiteFrame_container"
	style="float: left; position: absolute; top: 105px; left: 5px;">

<!-- Top white frame -->
<div class="whiteFrame_top_container">
<div class="whiteFrame_top_left"></div>
<div id="leftFrameHandle" class="whiteFrame_top_middle"
	style="color: grey; text-align: center; line-height: 20px; font-size: 8pt;">View</div>
<div class="whiteFrame_top_right"></div>
</div>

<div class="whiteFrame_center_container"><!-- Left white frame -->
<div class="whiteFrame_center_left"></div>

<!-- Content white frame -->
<div class="whiteFrame_center_middle">
<div id="leftFrame_content"></div>
</div>

<!-- Right white frame -->
<div class="whiteFrame_center_right"></div>

</div>

<!-- Bottom white frame -->
<div class="whiteFrame_bottom_container">
<div class="whiteFrame_bottom_left"></div>
<div class="whiteFrame_bottom_center"></div>
<div class="whiteFrame_bottom_right"></div>
</div>
</div>


<div id="big_images"
	style="margin: auto; width: 700px; height: 400px; border: dashed 1px grey;"></div>

<div id="rightFrame" class="whiteFrame_container"
	style="float: left; position: absolute; top: 105px; right: 5px;">

<!-- Top white frame -->
<div class="whiteFrame_top_container">
<div class="whiteFrame_top_left"></div>
<div id="rightFrameHandle" class="whiteFrame_top_middle"
	style="color: grey; text-align: center; line-height: 20px; font-size: 8pt;">Edit</div>
<div class="whiteFrame_top_right"></div>
</div>

<div class="whiteFrame_center_container"><!-- Left white frame -->
<div class="whiteFrame_center_left"></div>

<!-- Content white frame -->
<div class="whiteFrame_center_middle">
<div id="rightFrame_content"></div>
</div>

<!-- Right white frame -->
<div class="whiteFrame_center_right"></div>

</div>

<!-- Bottom white frame -->
<div class="whiteFrame_bottom_container">
<div class="whiteFrame_bottom_left"></div>
<div class="whiteFrame_bottom_center"></div>
<div class="whiteFrame_bottom_right"></div>
</div>
</div>

<!-- TABS -->

<div id="tab_projectinfo" class="tabContent">
<div style="float:left;display:block;">
	<b>{{ project }}</b><br>
	<p>{{ project.description }}</p>
</div>
<a href="#"	id='editTagsLink' style="float: right;"><img
   src="{{BASE_PATH}}media/img/pencil.jpg" style="border: 0px;" /></a>
	<div id="tags" style="float:right;width:70px;"></div>
</div>

<div id="tab_layers" >

	<div id="tab_picture_tools" class="tabContent" style="height: 60px;">
		
		<div style="float:left;">Bitmap opacity: </div>
		<div id="createBitmapSlider">
			<div style="height:3px;width:100px;" id="bitmap_slider" class="slider">
				<div style="height:9px;width:3px;" id="bitmap_slider_handle" class="handle"></div>
			</div>
		</div>		
		<br>
		
		<a href="#" id="analyzeLandmarksButton" style="clear:both;">
			Analyse selected landmarks
		</a><br>
		<a href="#" id="MakeMorphButton">
			Morph selected images
		</a>
		<br />
		<a href="#" onclick="popupIFrame('{{ BASE_PATH }}project/imageManager/{{ id }}',670,400);">
			<img src="{{ BASE_PATH }}media/img/pencil.jpg" id="addPictureButton" class="smallPictureButton">
		Manage images</a>
	</div>

	<div class="tabLine" style="background-image:url('{{BASE_PATH}}media/img/bar_middle.jpg')">
		<img src="{{BASE_PATH}}media/img/bar_left.jpg" style="float:left;" />
		<img src="{{BASE_PATH}}media/img/bar_right.jpg" style="float:right;" />
	</div>

	<div id="tab_pictures" class="tabContent"></div>


</div>

<div id="tab_papers" class="tabContent"></div>
<div id="tab_measurements" class="tabContent">

	<!-- List containting all measurements -->
	<div id="possiblemeasurements"></div>
	
	<!-- Toolbar -->
  <a id="editMeasurementLink" href="#">
  <img src="{{BASE_PATH}}media/img/pencil.jpg" style="border: 0px;" /> Mng. measurements</a><br>
  <a id="editMeasurementTypeLink" href="#">
  <img src="{{BASE_PATH}}media/img/pencil.jpg" style="border: 0px;" /> Mng. types</a>

</div>

<div id="tab_attributes" class="tabContent">
<table style="width: 200px">
	<tr>
		<td id="ajax_result"></td>
	</tr>
	<tr>
		<td><a href="#" id="undoLink"> <img
			src="{{ BASE_PATH }}media/img/undo.jpg" alt="Undo last change"
			border="0" /> </a></td>
	</tr>
</table>
</div>

<div id="tab_zoom" class="tabContent" style="text-align: center;">
<div id="zoomContent"><img id="zoomImage" src="" /> <img
	src="{{BASE_PATH}}media/img/hud.gif" id="crosshair" /></div>

Coordinates:<input type="text" id="MouseX" value="0" size="3">x<input type="text" id="MouseY" value="0" size="3">

</div>
<div id="tab_states"> </div>
<div id="tab_distances"> </div>
<div id="tab_legenda"> </div>


<!-- POPUP -->

<div id="lmdd"
	style="display: none; position: absolute; background-color: white; color: black; padding: 5px;">
<div style="background-color: #ccc;">Store Landmark</div>
<label for="mmx">x: </label><input type="text" style="width: 25px;"
	id="lmmx" name="mmx" value="" /> <label for="mmy">y: </label><input
	type="text" style="width: 25px;" id="lmmy" name="mmy" value="" /><br />
<label id="labelmmmeting" for="mmmeting">Landmark: </label><select
	id="mmmeting" name="mmmeting">
</select><br />
<input type="hidden" id="imgid" value="" />
<button onClick="saveLandMark();">Store</button>
<button onClick="$('lmdd').hide();">Cancel</button>
</div>

{% endblock body %}
