{% extends 'base.html' %}

{% block title %}Workplace{% endblock title %}

{% block head %}
<link href="{{ BASE_PATH }}media/css/whiteFrame.css" rel="stylesheet"	type="text/css" media="screen" />
<link href="{{ BASE_PATH }}media/css/projectHome.css" rel="stylesheet"type="text/css" media="screen" />

<!-- General functions -->
<script src="{{ BASE_PATH }}media/js/casamcustom.js" type="text/javascript"></script>
<script src="{{ BASE_PATH }}media/js/ajax.js" type="text/javascript"></script>
<script src="{{ BASE_PATH }}media/js/getmouse.js" type="text/javascript"></script>

<!-- Defining global variables -->
<script type="text/javascript">
	var base_path = "{{ BASE_PATH }}";
	var projectID = "{{ id }}";
	var flashpainting = false;
	var addedImages = new Array();
  var total_images = 0;
	var measurements = new Array();
	var checkboxes = new Array();
  var changes = new Array();
  var bitmaps = new Array();
  var savelm = createRequestObject();

  var savex;
  var savey;
</script>

<!-- Building layout functuion -->
<script src="{{ BASE_PATH }}media/js/layout.js" type="text/javascript"></script>

<!-- Core object functions -->
<script src="{{ BASE_PATH }}media/js/images.js" type="text/javascript"></script>
<script src="{{ BASE_PATH }}media/js/bitmaps.js" type="text/javascript"></script>
<script src="{{ BASE_PATH }}media/js/measurements.js" type="text/javascript"></script>
<script src="{{ BASE_PATH }}media/js/undo.js" type="text/javascript"></script>
<script src="{{ BASE_PATH }}media/js/states.js" type="text/javascript"></script>

<script type="text/javascript">

// What to do on load
document.observe("dom:loaded", function()
{
  checkAuthenticationAndExecute(function(){
		
     // Add tabs in whiteFrame
     $('leftFrame_content').insert(newTab('Project information', $('tab_projectinfo'), true));
     $('leftFrame_content').insert(newTab('Pictures', $('tab_pictures'), true));
     
     $('rightFrame_content').insert(newTab('Possible measurements', $('tab_measurements'), true));
     $('rightFrame_content').insert(newTab('Tags', $('tab_tags'), false));
     $('rightFrame_content').insert(newTab('Papers', $('tab_papers'), false));  
     $('rightFrame_content').insert(newTab('Other', $('tab_attributes'), true));
     $('rightFrame_content').insert(newTab('Zoom', $('tab_zoom'), true));
     $('rightFrame_content').insert(newTab('States', $('tab_states'), true));
	 $('zoomImage').hide();

	  // Add mouse listener for image
     Event.observe('big_images','mousemove', getMouseXY);

		// Load images
		getProjectImages(false);

		// Load tags
		getProjectTags();

		// Load potential measurements
		getProjectPotentialMeasurements();
		 
		
		// Make draggable's for each Measurement
		new Draggable('lmdd');

		resizeScreenElements(true);
		Event.observe(window,'resize',function(){
			resizeScreenElements(false);
		});
		Event.observe('editTagsLink','click',function(){
			popupIFrame(base_path+'tag/select/{{ id }}',350,150);
		});
		Event.observe('editMeasurementLink','click',function(){
      popupIFrame(base_path+'pm/new/{{ id }}',350,150);
    });
    Event.observe('editMeasurementTypeLink', 'click', function(){
			popupIFrame(base_path+'pmt/new/{{ id }}', 350, 150);
		});
	    Event.observe('undoLink','click',function(){
	    	undoLastChange();
	    });
	});
});

</script>
{% endblock head %}

{% block body %}
<div id="popup"></div>
<div id="leftFrame" class="whiteFrame_container"
	style="float: left; position: absolute; top: 105px; left: 5px;">

<!-- Top white frame -->
<div class="whiteFrame_top_container">
<div class="whiteFrame_top_left"></div>
<div id="leftFrameHandle" class="whiteFrame_top_middle"
	style="color: grey; text-align: center; line-height: 20px; font-size: 8pt;">View</div>
<div class="whiteFrame_top_right"></div>
</div>

<div class="whiteFrame_center_container"><!-- Left white frame -->
<div class="whiteFrame_center_left"></div>

<!-- Content white frame -->
<div class="whiteFrame_center_middle">
<div id="leftFrame_content"></div>
</div>

<!-- Right white frame -->
<div class="whiteFrame_center_right"></div>

</div>

<!-- Bottom white frame -->
<div class="whiteFrame_bottom_container">
<div class="whiteFrame_bottom_left"></div>
<div class="whiteFrame_bottom_center"></div>
<div class="whiteFrame_bottom_right"></div>
</div>
</div>


<div id="big_images"
	style="margin: auto; width: 700px; height: 400px; border: dashed 1px grey;"></div>

<div id="rightFrame" class="whiteFrame_container"
	style="float: left; position: absolute; top: 105px; right: 5px;">

<!-- Top white frame -->
<div class="whiteFrame_top_container">
<div class="whiteFrame_top_left"></div>
<div id="rightFrameHandle" class="whiteFrame_top_middle"
	style="color: grey; text-align: center; line-height: 20px; font-size: 8pt;">Edit</div>
<div class="whiteFrame_top_right"></div>
</div>

<div class="whiteFrame_center_container"><!-- Left white frame -->
<div class="whiteFrame_center_left"></div>

<!-- Content white frame -->
<div class="whiteFrame_center_middle">
<div id="rightFrame_content"></div>
</div>

<!-- Right white frame -->
<div class="whiteFrame_center_right"></div>

</div>

<!-- Bottom white frame -->
<div class="whiteFrame_bottom_container">
<div class="whiteFrame_bottom_left"></div>
<div class="whiteFrame_bottom_center"></div>
<div class="whiteFrame_bottom_right"></div>
</div>
</div>

<!-- TABS -->

<div id="tab_projectinfo" class="tabContent"><b>{{ project }}</b><br>
<p>{{ project.description }}</p>
</div>
<div id="tab_pictures" class="tabContent"></div>
<div id="tab_papers" class="tabContent">{% include
'annotation/list.html' %}<br>
<a href="{{ BASE_PATH }}annotation/new/{{ id }}"
	style="float: right; clear: both;" target="_blank"><img
	src="{{BASE_PATH}}media/img/add.jpg" style="border: 0px;" /></a></div>
<div id="tab_measurements" class="tabContent">
  <a id="editMeasurementLink" style="float: right; clear: both;" target="_blank" href="#">
  <img src="{{BASE_PATH}}media/img/pencil.jpg" style="border: 0px;" /></a>
  <a id="editMeasurementTypeLink" style="float: right; clear: both;" target="_blank" href="#">
  <img src="{{BASE_PATH}}media/img/pencil.jpg" style="border: 0px;" /></a>
<div id="possiblemeasurements"></div>
</div>
<div id="tab_tags" class="tabContent"><a href="#"
	id='editTagsLink' style="float: right; clear: both;"><img
	src="{{BASE_PATH}}media/img/pencil.jpg" style="border: 0px;" /></a>
<div id="tags"></div>
</div>
<div id="tab_attributes" class="tabContent">
<table style="width: 200px">
	<tr>
		<th>Coordinates</th>
	</tr>
	<tr>
		<td><input type="text" id="MouseX" value="0" size="4"> X<br />
		<input type="text" id="MouseY" value="0" size="4"> Y</td>
	</tr>
	<tr>
		<th>Changes</th>
	</tr>
	<tr>
		<td id="ajax_result"></td>
	</tr>
	<tr>
		<td><a href="#" id="undoLink"> <img
			src="{{ BASE_PATH }}media/img/undo.jpg" alt="Undo last change"
			border="0" /> </a></td>
	</tr>
</table>
</div>
<div id="tab_zoom" class="tabContent">
<div id="zoomContent"><img id="zoomImage" src="" /> <img
	src="{{BASE_PATH}}media/img/hud.gif" id="crosshair" /></div>
</div>
<div id="tab_states"> </div>


<!-- POPUP -->

<div id="lmdd"
	style="display: none; position: absolute; background-color: white; color: black; padding: 5px;">
<div style="background-color: #ccc;">Store Landmark</div>
<label for="mmx">x: </label><input type="text" style="width: 25px;"
	id="lmmx" name="mmx" value="" /> <label for="mmy">y: </label><input
	type="text" style="width: 25px;" id="lmmy" name="mmy" value="" /><br />
<label id="labelmmmeting" for="mmmeting">Landmark: </label><select
	id="mmmeting" name="mmmeting">
</select><br />
<input type="hidden" id="imgid" value="" />
<button onClick="saveLandMark();">Store</button>
<button onClick="$('lmdd').hide();">Cancel</button>
</div>

{% endblock body %}
