{% extends 'popup.html' %}

{% block title %}Nieuw potential measurement{% endblock title %}

{% block head %}
<script type="text/javascript">
  document.observe('dom:loaded',function(){                                          
    getProjectPotentialMeasurements();
    Element.observe('undoLink','click',function(){
      var potentialMeasurements = $$('div.deletePotMeasDiv');
      var deletePMs = new Array();
      for(var i = 0; i < potentialMeasurements.length; i++){
        if (potentialMeasurements[i].childElements()[1].checked == true)
          deletePMs.push(potentialMeasurements[i]);                                                              
      }
      if (deletePMs.size() > 0){
        deletePMs.each(function(item){
          deleteMeasurement(item);
        });                     
      }                             
    });
    var closeButton = new Element('input',{'type':'button','value':'Close measurement manager'});
    $('closeContainer').insert(closeButton);
    closeButton.observe('click',function(){
      parent.closePopupAndReloadPotentialMeasurements('');
    });
  });
  
  function getProjectPotentialMeasurements(){
    
    var pottype_array = parent.$$('div.potSubTabType');
    for(var i = 0; i < pottype_array.length; i++){
      var potmeas_array = pottype_array[i].childElements()[2].childElements();
      var typeDiv = new Element('div');
      var typeName = new Element('span');
      typeName.update(pottype_array[i].down(0).down(2).innerHTML);
      typeDiv.insert(typeName);
      for(var j = 0; j < potmeas_array.length; j++){
        var measDiv = new Element('div');
        measDiv.addClassName('deletePotMeasDiv');
        var label = new Element('label', {'for': 'dp'+potmeas_array[j].id.slice(8)});
        label.update(potmeas_array[j].childElements()[1].innerHTML);
        var checkbox = new Element('input', {'type': 'checkbox',
                                             'name':potmeas_array[j].id.slice(8), 
                                             'id': 'dp'+potmeas_array[j].id.slice(8)
                                             });
        measDiv.insert(label);
        measDiv.insert(checkbox);
        typeDiv.insert(measDiv);
      }
      $('potentialMeasurements').insert(typeDiv);  
    }
    
      
  }
  
  function deleteMeasurement(containerDiv){
    var url = '{{ BASE_PATH }}AJaX/deletePotentialMeasurement/?time='+new Date().getTime();
    new Ajax.Request(url, {
        method: 'get',
        parameters: {'potID': containerDiv.childElements()[1].name},
        onSuccess: function(transport, json) {
          containerDiv.remove();
          //DELETE CURRENT MEASUREMENTS
          var measurements = parent.measurements;
          for(var j = 0; j < measurements.length; j++){
            if (measurements[j].potid == containerDiv.childElements()[1].name){
              measurements[j].erase();
              parent.measurements.splice(j,1);
              j = j - 1;
            }                                             
          }
          //DELETE POTENTIAL MEASUREMENTS
          var parentPotentialMeasurements = parent.$$('div.potMeasDiv');
          for(var i = 0; i < parentPotentialMeasurements.length; i++){
            if (parentPotentialMeasurements[i].id.slice(8) == containerDiv.childElements()[1].name){
              Effect.Fade(parentPotentialMeasurements[i]);
              parentPotentialMeasurements[i].remove();
            }                  
          }
          //REMOVE TEXT OF CURRENT MEASUREMENTS
          var currentMeasurementText = Element.select(parent.$('pictures'),'div[id=potidMeasDiv_'+containerDiv.childElements()[1].name+']');
          for(var j = 0; j < currentMeasurementText.length; j++){
            currentMeasurementText[j].remove();              
          }
          //SINCE DELETION CANNOT BE UNDONE, DELETE CHANGES
          var changes = parent.changes;
          for(var i = 0; i < changes.length; i++){
            if (changes[i].potid == containerDiv.childElements()[1].name){
              changes[i].erase();
              parent.changes.splice(i,1);
              i = i - 1;
            }
          }
          //TODO: REMOVE POTENTIAL MEASUREMENT FROM OPTION LIST
          parent.$('option'+containerDiv.childElements()[1].name).remove();
          //CLOSE POPUP
          parent.closePopupAndReloadPotentialMeasurements('')
        },
        onFailure:function(){
          alert('Something went wrong while deleting potential measurement '+containerDiv.childElements()[0].innerHTML);
        }
    });                             
  }
  
</script>
{% endblock head %}

{% block body%}

<form enctype="multipart/form-data" method="post">
<table>
{{ form }}
<tr><td><input type="submit" value="save" /></td></tr>
</table>
</form>
<div id='deleteDiv'>
  <div id='potentialMeasurements'>
  </div>
  <a href='#' id='undoLink'>Delete selected</a>
</div>
<div id='closeContainer'>
</div>
{% endblock body %}
