{% extends 'popup.html' %}

{% block title %}Nieuw potential measurement{% endblock title %}

{% block beforeJSLoad %}
    getProjectPotentialMeasurements();

{% endblock beforeJSLoad %}
   

{% block head %}
<script type="text/javascript">
  
  function getProjectPotentialMeasurements(){
    
    var pottype_array = parent.$('possiblemeasurements').childElements();
    var measurements = false;
    for(var i = 0; i < pottype_array.length; i++){
      var potmeas_array = pottype_array[i].childElements()[2].childElements();
      var typeDiv = new Element('div');
      var typeName = new Element('span');
      typeName.update(pottype_array[i].down(0).down(2).innerHTML);
      typeDiv.insert(typeName);
      for(var j = 0; j < potmeas_array.length; j++){
        var measDiv = new Element('div');
        measDiv.addClassName('deletePotMeasDiv');
        var label = new Element('label', {'for': 'dp'+potmeas_array[j].id.slice(8)});
        label.update(potmeas_array[j].childElements()[1].innerHTML);
        var checkbox = new Element('input', {'type': 'checkbox',
                                             'name':potmeas_array[j].id.slice(8), 
                                             'id': 'dp'+potmeas_array[j].id.slice(8)
                                             });
        measDiv.insert(label);
        measDiv.insert(checkbox);
        typeDiv.insert(measDiv);
        measurements = true;
      }
      $('potentialMeasurements').insert(typeDiv);  
    }
    if (measurements){
      var link = new Element('a', {'href': '#',
                                   'id': 'undoLink'});
      link.update('Delete selected');
      $('deleteDiv').insert(link);
      Element.observe('undoLink','click',function(){
      var potentialMeasurements = $$('div.deletePotMeasDiv');
      var deletePMs = new Array();
      for(var i = 0; i < potentialMeasurements.length; i++){
        if (potentialMeasurements[i].childElements()[1].checked == true){
          deletePMs.push(potentialMeasurements[i].childElements()[1].name);
          potentialMeasurements[i].remove();
        }                                                              
      }
      if (deletePMs.size() > 0){
        deletePMs.each(function(id){
          parent.removePotentialMeasurement(id);
          //CLOSE POPUP
        });            
        parent.closePopupAndReloadPotentialMeasurements('');         
      }                             
    });
    }
    
      
  }
  
</script>
{% endblock head %}

{% block body%}

<form method="post">
<table>
{{ form }}
<tr><td><input type="submit" value="save" /></td></tr>
</table>
</form>
<div id='deleteDiv'>
  <div id='potentialMeasurements'>
  </div>
  
</div>
<div id='closeContainer'>
</div>
{% endblock body %}
