{% extends 'popup.html' %}

{% block title %}Nieuw potential measurement type{% endblock title %}

{% block head %}
<script type="text/javascript">
  document.observe('dom:loaded',function(){                                          
    getPotentialTypes();
    $('deleteTypesLink').observe('click', function(){
      var checkboxes = $$('input.typeCheckbox');
      for(var i = 0; i < checkboxes.length; i++){
        if(checkboxes[i].checked == true)
          parent.removePotentialType(checkboxes[i].name);      
      }
      parent.closePopupAndReloadPotentialMeasurementTypes('')
    });
  });
  
  function getPotentialTypes(){
    var type_array = parent.$('possiblemeasurements').childElements();
    for(var i = 0; i < type_array.length; i++){
      var typeid = type_array[i].childElements()[2].id.slice(9);
      var typename = type_array[i].down('span').innerHTML
      var containerDiv = new Element('div', {'id': typeid});
      var textDiv = new Element('div');
      textDiv.update(typename)
      containerDiv.insert(textDiv);
      
      var checkbox = new Element('input', {'type': 'checkbox',
                                 'name':typeid, 
                                 'id': 'dpt'+typeid
                                 });
      checkbox.addClassName('typeCheckbox');
      containerDiv.insert(checkbox);
      $('potentialTypesDiv').insert(containerDiv);
    }                           
  }
  

  
</script>
{% endblock head %}

{% block body%}

<form enctype="multipart/form-data" method="post">
<table>
{{ form }}
<tr><td><input type="submit" value="save" /></td></tr>
</table>
</form>
<div id='potentialTypesDiv'>
<a href="#" id='deleteTypesLink'>Delete selected Types</a>
</div>
{% endblock body %}