{% extends 'base.html' %}

{% block title %}Gebruikers{% endblock title %}

{% block body %}

<p>
<a href='./new'>New User</a>
</p>

{% for user in users %}
  <div class="user">
    <div class="name">Name: {{ user.first_name|default:"missing" }}<div>
    <div class="last name">Last name: {{ user.last_name|default:"missing" }}<div>
    <div class="username">Username: {{user.username}}<div>
    <a href="./edit/{{ user.id }}" class="edit">edit</a>
    <a href="./changepass/{{ user.id }}" class="change_pass">change pass</a>
  </div>
{% endfor %}

{% endblock body %}