{% extends 'base.html' %}

{% block title %}
Draw at C.A.S.A.M.
{% endblock title %}

{% block head %}
<script type="text/javascript">
var BrushStroke = Class.create({
  initialize: function(thickness,color,totalWidth,totalHeight) {
    this.thickness = thickness;
    this.color = color;
    this.totalWidth = totalWidth;
    this.totalHeight = totalHeight;
    this.positions = [];
  },
  addPosition: function(x,y) {
    this.positions.push(new Array(x,y));
	message = new Element('p')
	.update('(' + x + ',' + y + ')');
	
	$('updateWindow').insert({'top': message});
	new Effect.Highlight(message);
  }
});


var drawing = false;
var currentStroke;

function startDrawing(){
	if(!drawing){
		drawing = true;
		$('updateWindow').insert({'top':
			new Element('p')
			.update('start drawing')});
	}
}

function stopDrawing(){
	if(drawing){
		drawing = false;
		$('updateWindow').insert({'top':
			new Element('p')
			.update('stop drawing')});
		alert(Object.toJSON(currentStroke));
		currentStroke = new BrushStroke(1,0);
	}
}
document.observe('dom:loaded', function(){
	currentStroke = new BrushStroke(1,0,$('drawTablet').getWidth(),$('drawTablet').getHeight());
	$('drawTablet').observe('mousedown',startDrawing);
	$('drawTablet').observe('mouseup',stopDrawing);
	$('drawTablet').observe('mouseout',stopDrawing);
	$('drawTablet').observe('mousemove',function(event){
		if(drawing){
			viewportOffset = $('drawTablet').viewportOffset();
			currentStroke.addPosition((event.clientX-viewportOffset.left), (event.clientY-viewportOffset.top) );
		}
	});

});
</script>
<style>
#drawTablet{
	border: 1px solid black;
	width:900px;
	height:300px;
}
</style>
{% endblock head %}

{% block body %}
<img class="casamLogo" src="{{ BASE_PATH }}media/img/casam_banner.jpg" />
<div id="drawTablet">

</div>

<div id="updateWindow">

</div>
{% endblock body %}
