<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>{% block title %}U FORGET TITLEZ{% endblock title %}</title>
<script src="/media/js/prototype.js" type="text/javascript"></script>
<script src="/media/js/scriptaculous.js" type="text/javascript"></script>
<script src="/media/js/ajax.js" type="text/javascript"></script>
<script src="/media/js/getmouse.js" type="text/javascript"></script>
<script src="/media/js/images.js" type="text/javascript"></script>
<script src="/media/js/landmarks.js" type="text/javascript"></script>
{% block scripts %}

{% endblock scripts %}

<style type="text/css">
body {
  color: white;
  background-color: black;
}
table {
  background-color: white;
  color: black;
}
img {
  background-color: white;
}
a:visited {
  color: red;
}
</style>

</head>

<body>
{% block navigation %}
navigation bar here plx
{% endblock navigation %}

{% block body %}
{% endblock %}
</body>
</html>
