<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
{% if not is_local %}
<base href="https://graphics.tudelft.nl/casam/">
{% endif %}
<title>{% block title %}U FORGET TITLEZ{% endblock title %}</title>
{% block scripts %} {% endblock scripts %}

<style type="text/css">
body {
  color: white;
  background-color: black;
}
table {
  background-color: white;
  color: black;
}
img {
  background-color: white;
}
</style>
</head>

<body>
{% block navigation %}
navigation bar here plx
{% endblock navigation %}

{% block body %}
{% endblock %}
</body>
</html>
