<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>{% block title %}U FORGET TITLEZ{% endblock title %}</title>

	<script type="text/javascript">
    	var base_path = '{{ BASE_PATH }}';
    	var data_dir = '{{ DATA_DIR }}';
	</script>
	<script src="{{ BASE_PATH }}media/js/prototype.js" type="text/javascript"></script>
	<script src="{{ BASE_PATH }}media/js/scriptaculous.js" type="text/javascript"></script>
	<script type="text/javascript">
		var secondsToExpiration = 0{{expiration_in_seconds}};
		document.observe("dom:loaded",function(){
			//User is logged in
			if(secondsToExpiration>0)decreaseTimeToExpiration(secondsToExpiration);
		});

		function decreaseTimeToExpiration(currentSeconds){
			setTimeout('decreaseTimeToExpiration('+(currentSeconds-1)+')',1000);
			if(currentSeconds > 60){
				$('timeToExpiration').update(Math.round(currentSeconds / 60) + ' min');
			}else if(currentSeconds > 0){
				$('timeToExpiration').update(currentSeconds + ' sec');
			}else{
				$('loginWidget').update('Not logged in anymore, please login to continue working');
			}
		}
	</script>
	<link rel="stylesheet" href="{{ BASE_PATH }}media/css/base.css">

{% block head %}

{% endblock head %}
</head>

<body>

{% block user_dock %}

<div style="width:300px;height:100px;color:white;background-color:black;">
	<img src="{{ BASE_PATH }}media/img/dock_user.jpg" style="float:left;width:48px;height:48px;font-size: 8pt;color:white;" />
	<div id="loginWidget" style="float:left;color:white;width:200px;height:55px;font-size: 8pt;margin-top:4px;margin-left:5px;">
		<b>Currently logged in:</b><br />
		{{ NAME }} (<a href="{{ BASE_PATH }}logout">not you?</a>)<br />
		<div style="float:left;font-size: 8pt;color:white;">Automatic <a href="{{ BASE_PATH }}logout">logout</a> in approx. <p id="timeToExpiration"></p>

		</div>
	</div>
</div>
<div style="background-color:black;float:right;width:30px;margin-top:-100px">
<a href="{{BASE_PATH}}"><img border="0" src="{{ BASE_PATH }}media/img/dock_home.jpg" style="width:24px;height:24px;" /></a>
</div>

{% endblock user_dock %}

{% block body %}

{% endblock body %}
</body>
</html>
