<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>{% block title %}{% endblock title %}</title>

	<script type="text/javascript">
    	var base_path = '{{ BASE_PATH }}';
    	var data_dir = '{{ DATA_DIR }}';
	</script>
	<script src="{{ BASE_PATH }}media/js/prototype.js" type="text/javascript"></script>
	<script src="{{ BASE_PATH }}media/js/scriptaculous.js" type="text/javascript"></script>
	<script type="text/javascript">
		document.observe("dom:loaded",function(){
			{% block customJSLoad %}
			$('popupContainer').setStyle({
				display:'table',
				margin:'0px',
				padding:'10px'
			});

			var width = $('popupContainer').getWidth()+0;
			var height = $('popupContainer').getHeight()+20;
			parent.changePopupDimensions(width,height);

			{% endblock customJSLoad %}
			$('popupBody').setStyle({
				overflow:'auto'
			});
		});
	</script>
	
	<link rel="stylesheet" href="{{ BASE_PATH }}media/css/main.css">
	<link rel="stylesheet" href="{{ BASE_PATH }}media/css/popup.css">
{% block head %}

{% endblock head %}
</head>

<body style="overflow:hidden" id="popupBody">
<div id="popupContainer">
{% block body %}

{% endblock body %}
</div>
</body>
</html>
