body {
  font-family: verdana;
  font-size: 10pt;
  color: white;
  background-color: black;
  background-image: url(../img/casam_banner.jpg);
  background-repeat: no-repeat;
  background-position: center top;
}
a{
	text-decoration:none;
}

#timeToExpiration{
	display:inline;
}

#popup_overlay{
	background-color:black;
	position:absolute;
	top:0px;
	left:0px;
	width:0px;
	height:0px;
}