body {
  font-family: verdana;
  font-size: 10pt;
  color: white;
  background-color: black;
  background-image: url(../img/casam_banner.jpg);
  background-repeat: no-repeat;
  background-position: center top;
}
a:visited {
  color: red;
}