body {
  font-family: verdana;
  font-size: 10pt;
  color: white;
  background-color: black;
  background-image: url(../img/casam_banner.jpg);
  background-repeat: no-repeat;
  background-position: center top;
}
a{
	text-decoration:none;
}

#timeToExpiration{
	display:inline;
}

#popup_overlay{
	background-color:black;
	position:absolute;
	top:0px;
	left:0px;
	width:0px;
	height:0px;
}

#popup{
	position:absolute;
	width:0px;
	height:0px;
	background-color:#808080;
}

#popupHead{
	height:15px;
	position:relative;
}
#popupIFrameContainer,#popupIFrameContainer iframe{
	width:100%;
	height:100%;
	border:0px;
}
#popupCloseButton{
	font-family:courier;
	cursor:pointer;
	right:3px;
	top:0px;
	position:absolute;	
}

