/* GENERAL */

body {
	background-color: black;
}

div {
	overflow:hidden;
	font-family:verdana;
	font-size:10pt;
	color:black;
}

table {
	text-align: right;
}

/* White frame */

#whiteFrame_container {
	 width:390px;
	 height:140px;
	 overflow:none;
	 margin:auto;
}

#whiteFrame_top_container {
	width:390px;
	height:20px;	
}

#whiteFrame_top_left {
	width:20px;
	height:20px;
	background-image:url('../img/left_top.jpg');
	float:left;
}

#whiteFrame_top_middle {
	width:350px;
	height:20px;
	background-image:url('../img/top.jpg');
	float:left;
}

#whiteFrame_top_right {
	width:20px;
	height:20px;
	background-image:url('../img/right_top.jpg');
	float:right;
}

#whiteFrame_center_container {
	width:390px;
	height:100px;
	background-color:white;
	clear:both;
}

#whiteFrame_center_left {
	width:20px;
	height:100px;
	background-image:url('../img/left.jpg');
	float:left;
}

#whiteFrame_center_middle {
	width:350px;
	height:100px;
	float:left;
	text-align:center;
}


#whiteFrame_center_right {
	width:20px;
	height:100px;
	background-image:url('../img/right.jpg');
	float:right;
}

#whiteFrame_bottom_container {
	width:390px;
	height:20px;
}

#whiteFrame_bottom_left {
	width:20px;
	height:20px;
	background-image:url('../img/left_bottom.jpg');
	float:left;
}

#whiteFrame_bottom_center {
	width:350px;
	height:20px;
	background-image:url('../img/bottom.jpg');
	float:left;
}

#whiteFrame_bottom_right {
	width:20px;
	height:20px;
	background-image:url('../img/right_bottom.jpg');
	float:right;
}