/* GENERAL */

body {
	background-color: black;
	font-family:verdana;
}

div {
	/*overflow:hidden;*/
	font-size:10pt;
	color:black;
}

/* Project display container */

div.main_project_title {
	font-size:8pt;
	font-weight: bold;
	padding:2px;
}

div.main_project_description {
	font-size:7pt;
	font-weight: normal;
	padding:4px;
}

div.main_project_empty_container {
	width:240px;
	height:100px;
	padding:10px;
	background-color:#dddddd;
	color:black;
	float:left;
	margin:5px;
	cursor:pointer;
	background-position: bottom right;
	background-image:url('../img/project_add.jpg');
}

div.main_project_container {
	width:240px;
	height:100px;
	padding:10px;
	background-color:#dddddd;
	color:black;
	float:left;
	margin:5px;
	background-position: bottom right;
	background-image:url('../img/project_background.jpg');
	position:relative;
}

img.project_image {
	width:100px;
	height:100px;
}

/* White frame */

div.whiteFrame_container {
  width: 837px;
  height: 542px;
}	 
div.whiteFrame_top_container {
	 width: 837px;
} 
div.whiteFrame_top_middle {
  width: 801px;
}
div.whiteFrame_center_container {
  width: 837px;
  height: 506px;
}
div.whiteFrame_center_left {
  height: 506px;
}
div.whiteFrame_center_middle {
  width: 827px;
  height: 506px;
}
div.whiteFrame_center_right {
  height: 506px;
}
div.whiteFrame_bottom_container {
  width: 837px;
}
div.whiteFrame_bottom_center {
  width: 801px;
}

/* Frame content */

#whiteFrame_searchIcon {
	width:58px;
	height:48px;
	float:left;
	background-image:url('../img/search.jpg');
	background-repeat:no-repeat;
}

#whiteFrame_departmentSelection_container {
	width:217px;
	height:48px;
	float:left;
}

#whiteFrame_departmentSelection_dropdown {
	width:192px;
}

#whiteFrame_keywordSearch_container {
	width:280px;
	height:48px;
	float:left;
}

#whiteFrame_keywordSearch_textbox {
	width:260px;
}

#whiteFrame_projects_container {
	width:827px;
	height:390px;
	float:left;
	overflow-x:hidden;
	overflow-y:scroll;
	text-align:left;
}

#whiteFrame_userMangement_container {
	width:48px;
	height:48px;
	float:left;
}

#whiteFrame_adminPanel_container {
  width:48px;
  height:48px;
  float:right;
}
#whiteFrame_export_container {
	width:48px;
	height:34px;
	float:right;
}

#whiteFrame_import_container {
	width:80px;
	height:34px;
	float:right;
	clear:right;
	text-align: center;
}
.main_project_deletebutton{
	position:absolute;
	bottom:10px;
	right:10px;
	width:16px;
	height:16px;
}

.image_button{
	border:0px;
}

.project_image{
	width:100px;
	height:100px;
	border:0px;
	float:left;
	position:absolute;
	left:0px;
	top:0px;
}

.main_project_imagelink{
	float:left;
	border:0px;
	text-decoration:none;
	position:relative;
	width:100px;
	height:100px;
	margin-right:5px;	
}

#whiteFrame_tagSelection_container
{
	float:left;
}

#projectMainSpinnerContainer{
	float:right;
	padding-right:10px;	
}

