/* Tabs */

.tabContainer {
}	

.tabHeader {
	font-weight: bold;
	background-color: #dddddd;
	cursor: pointer;
}

.tabLine {
	height: 2px;
	background-repeat: repeat-x;
}

.subTabContainer {
	margin-left: 15px;
}	

.subTabHeader {
	background-color: #dddddd;
	cursor: pointer;
}

.subTabLine {
	height: 2px;
	background-repeat: repeat-x;
}

.tabContent {
	overflow: hidden;
}

.projectPictureDiv{
	clear: both;
  overflow: hidden;
}

.projectPictureInfo{
	display: block;
}

.pictureContainerLeftDiv {
	float: left;
  margin: 5px;
}

.pictureContainerRightDiv {
	float: left;
	margin-top: 3px;
	width: 120px;
}
.pictureContainerBottomDiv {
	clear: both;
	margin-left: 25px;
}

/* White frame */

div.whiteFrame_container {
  width: 230px;
  height: 436px;
}	 
div.whiteFrame_top_container {
	 width: 230px;
}
div.whiteFrame_top_middle {
  width: 194px;
}
div.whiteFrame_center_container {
  width: 230px;
  height: 100%
}
div.whiteFrame_center_left {
  height: 100%;
}
div.whiteFrame_center_middle {
  width: 220px;
  height: 100%;
  overflow-y:auto;
  overflow-x:hidden;
}
div.whiteFrame_center_right {
  height: 100%;
}
div.whiteFrame_bottom_container {
  width: 230px;
}
div.whiteFrame_bottom_center {
  width: 194px;
}

#popup{
	position:absolute;
	width:0px;
	height:0px;
	background-color:white;
	color:black;
}

#popup iframe{
	width:100%;
	height:100%;
	border:0px;
}
img.smallPictureButton{
	border:0px;
}

#big_images{
	position:relative;
	overflow:auto;
}

.big_image_sibling{
	position:absolute;
	top:0px;
	left:0px;
}

.big_image_sibling_bitmap{
	position:absolute;
	top:0px;
	left:0px;
}

#tags p{
	margin:0px;
}

  div.slider { float: left; width:170px; margin: 5px 0 5px 4px; background-color:#ccc; height:10px; position: relative; }
  div.slider div.handle { width:10px; height:15px; background-color:#f00; cursor:move; position: absolute; }

  div.bitmapSlider { float: left; width:140px; margin: 5px 0 5px 4px; background-color:#ccc; height:10px; position: relative;  }
  div.bitmapSlider div.bitmapHandle { width:10px; height:15px; background-color:#f00; cursor:move; position: absolute; } }									  												 

img.mmPointer{
  float: left;
  position: relative;
}

.pintooltip{
  padding: 5px;
  background-color: #eee; 
  border: 2px solid #222; 
  color: #000;
}

div.mmText{
	display:inline;
}

.imageDeleteButton {
  float: right;
  margin-top: 7px;
}

.imgSubTabMeasurements{
}


.imgSubTabMeasurementTypes{
  margin-left: 6px;
  margin-right: 6px;
}

.potMeasDiv{
  display: block;
  clear:both;
}

div.unsavedChangeDiv{
  background-color: #ff8;								  
}								  

div.savedChangeDiv{
  background-color: none;									
}									
#pictures{
	position:relative;
}

.pinDiv{
	width:7px;
	height:7px;
	padding:0px;
	z-index: 1;
}

.pinImage{
	padding:0px;
	margin:-4px;	
	position:absolute;
}

.pintooltip{
	display:block;
	width:150px;
}

#zoomContent{
	background-color:blue;
	width:180px;
	height:180px;
	margin:0px auto;
	margin-top:5px;
	position:relative;
	overflow:hidden;
}

#zoomImage{
	top:0px;
	left:0px;
	position:absolute;
}

#crosshair{
	z-index:1;
	position:absolute;
	top:0px;
	left:0px;
}
  
a.saveChangeButton{
  display: block;
}

.stateDiv{
	cursor:pointer;
	margin:5px;
	border:1px solid black;
}
.stateDivDate{
	font-style:italic;
}

.annotation_container{
	border:1px solid black;
	margin:5px;
	cursor: pointer;
	text-align:left;

}

.annotation_container p{
	margin:0px;
	padding:0px;
}

.italic{
	font-style:italic;
}

#tab_papers{
	text-align:right;
}