.tabContent {
	overflow: hidden;
}

.projectPictureDiv{
	clear: both;
  overflow: hidden;
}

.projectPictureInfo{
	display: block;
}

.pictureContainerLeftDiv {
	float: left;
  margin: 5px;
}

.pictureContainerRightDiv {
	float: left;
	margin-top: 3px;
	width: 120px;
}
.pictureContainerBottomDiv {
	clear: both;
	margin-left: 25px;
}

/* White frame */

div.whiteFrame_container {
  width: 230px;
  height: 436px;
}	 
div.whiteFrame_top_container {
	 width: 230px;
}
div.whiteFrame_top_middle {
  width: 194px;
}
div.whiteFrame_center_container {
  width: 230px;
  height: 100%
}
div.whiteFrame_center_left {
  height: 100%;
}
div.whiteFrame_center_middle {
  width: 220px;
  height: 100%;
  overflow-y:auto;
  overflow-x:hidden;
}
div.whiteFrame_center_right {
  height: 100%;
}
div.whiteFrame_bottom_container {
  width: 230px;
}
div.whiteFrame_bottom_center {
  width: 194px;
}

#popup{
	position:absolute;
	width:0px;
	height:0px;
	background-color:white;
	color:black;
}

#popup iframe{
	width:100%;
	height:100%;
	border:0px;
}
img.smallPictureButton{
	border:0px;
}

#big_images{
	position:relative;
	overflow:auto;
}

.big_image_sibling{
	position:absolute;
	top:0px;
	left:0px;
}

#tags p{
	margin:0px;
}

  div.slider { float: left; width:170px; margin: 5px 0 5px 4px; background-color:#ccc; height:10px; position: relative; }
  div.slider div.handle { width:10px; height:15px; background-color:#f00; cursor:move; position: absolute; }

img.mmPointer{
  float: left;
  position: absolute;
}

.pintooltip{
  padding: 5px;
  background-color: #eee; 
  border: 2px solid #222; 
  color: #000;
}

div.mmText{
	margin-left:12px;
}

.imageDeleteButton {
  float: right;
  margin-top: 7px;
}

.imgSubTabMeasurements{
  padding-top: 23px;
}