{% extends 'popup.html' %}

{% block title %}Picture management{% endblock title %}
{% block head%}

<style type="text/css">
form ul {
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
}
form ul li {
	display: inline;
}
</style>
{%endblock head%}
{% block body %}
<form enctype="multipart/form-data" method="post">
<table>
{{ form }}
<tr><td><input type="submit" value="upload" /></td></tr>
</table>
<a href="{{BASE_PATH}}project/imageManager/{{id}}">Back to image manager</a>
</form>
{%endblock body%}