{% extends 'base.html' %}

{% block title %}Home at C.A.S.A.M.{% endblock title %}

{% block head %}	 
	<script type="text/javascript">
	function makeImageLoaderForProject(projectID,imageContainer){
		var imageRequestURL = '{{ BASE_PATH }}JSON/projectImages/'+projectID+'?time='+new Date().getTime();
		new Ajax.Request(imageRequestURL, {
			  method: 'get',
			  onSuccess: function(transport, imagesJSON) {
			    var imagesJSON = transport.responseText.evalJSON();
			    if(imagesJSON.length > 0){
				 		var imageElement = new Element('img',{'src':'{{BASE_PATH}}imageLoader/thumbnail/100/'+imagesJSON[0].pk});
				 		imageContainer.update(imageElement);
				 		imageElement.addClassName('project_image');
			    }else{
						var noImageElement = new Element('img',{'src':'{{BASE_PATH}}media/img/newproject.png'});
						imageContainer.update(noImageElement);
				 		imageElement.addClassName('project_image');
			    }
			}
		});	
	}
	
	function getProjects(tags)
	{
		var url = '{{ BASE_PATH }}JSON/projects/?time='+new Date().getTime();
		//Make a proper string out of the tags
		tags = tags.evalJSON();
		
		new Ajax.Request(url, {
		  method: 'get',
		  parameters: {'tags': tags},
		  onSuccess: function(transport, json) {
			  
		    var json = transport.responseText.evalJSON();
				//$('whiteFrame_projects_container').update();
		    for(i = 0; i<json.length;i++){
					var projectDiv = new Element('div');
					projectDiv.addClassName('main_project_container');

					var imageLink = new Element('a',{'href':'{{ BASE_PATH }}project/show/'+json[i].pk});
					projectDiv.insert(imageLink);
					imageLink.addClassName('main_project_imagelink');

					makeImageLoaderForProject(json[i].pk,imageLink);
					
					
					var nameDiv = new Element('div');
					projectDiv.insert(nameDiv);
					nameDiv.addClassName('main_project_title');
					var nameLink = new Element('a',{'href':'{{ BASE_PATH }}project/show/'+json[i].pk}).update(json[i].fields.name);
					nameDiv.insert(nameLink);

					var descriptionDiv = new Element('div');
					projectDiv.insert(descriptionDiv);
					descriptionDiv.addClassName('main_project_description');
					var descriptionLink = new Element('a',{'href':'{{ BASE_PATH }}project/show/'+json[i].pk}).update(json[i].fields.description);
					descriptionDiv.insert(descriptionLink);

					var deleteDiv = new Element('div');
					projectDiv.insert(deleteDiv);
					deleteDiv.addClassName('main_project_deletebutton');
					var deleteLink = new Element('a',{'href':'#'});
					var deleteImage = new Element('img',{'src':'{{BASE_PATH}}media/img/delete.png'});
					deleteLink.update(deleteImage);
					deleteImage.addClassName('image_button');
					
					deleteDiv.insert(deleteLink);
					makeDeleteProjectAction(json[i].pk,json[i].fields.name,projectDiv,deleteLink);
					projectDiv.hide();
					$('whiteFrame_projects_container').insert({'top':projectDiv});
					new Effect.Appear(projectDiv);
					/*<div class="main_project_container">
					<a href="{{ BASE_PATH }}project/show/{{ project.id }}">
					{% if image %}
						<img src="{{BASE_PATH}}imageLoader/thumbnail/100/{{ image.id }}" 
							   class="project_image" border="0" />
					{% else %}
					  <img src="{{BASE_PATH}}media/img/newproject.png"
                 class="project_image" border="0" />
 					{% endif %}
					</a>
					<div class="main_project_title"><a href="{{ BASE_PATH }}project/show/{{ project.id }}">{{ project.name }}</a></div>
					<div class="main_project_description"><a href="{{ BASE_PATH }}project/show/{{ project.id }}">{{ project.description }}</a></div>
					<div class="main_project_deletebutton"><a href="#"><img src="{{BASE_PATH}}media/img/delete.png" class="" border="0" /></a></div>
					</div>*/
		    }
			}
		});
	}

	function makeDeleteProjectAction(projectID, projectName,projectDiv,deleteButton){
		Element.observe(deleteButton,'click',function(){
			var sureToDelete= confirm("Do you really want to delete project "+projectName+"?");
			if(sureToDelete){
				Effect.Fade(projectDiv);
			}
		});
	}
	  document.observe("dom:loaded", function(){
		  		getProjects("{{tags|escapejs}}");
				}
		);
	</script>
	 <link rel="stylesheet" href="{{ BASE_PATH }}media/css/whiteFrame.css">
	 <link rel="stylesheet" href="{{ BASE_PATH }}media/css/main.css">
{% endblock head %}


{% block body %}

<div class="whiteFrame_container">

	<!-- Top white frame -->
	<div class="whiteFrame_top_container">
		<div class="whiteFrame_top_left"></div>
		<div class="whiteFrame_top_middle"></div>
		<div class="whiteFrame_top_right"></div>
	</div>

	<div class="whiteFrame_center_container">

		<!-- Left white frame -->
		<div class="whiteFrame_center_left"></div>

		<!-- Content white frame -->
		<div class="whiteFrame_center_middle">

			<!-- Top buttons -->
			<div id="whiteFrame_searchIcon"></div>
			<div id="whiteFrame_tagSelection_container">
			<form enctype="multipart/form-data" method="post">
				{{ tag_form }}
				<tr><td><input type="submit" value="filter" /></td></tr>
			</form>
			</div>

			<!-- Projects -->
			<div id="whiteFrame_projects_container">


			
      {% if is_onderzoeker %}	
				<a href="{{ BASE_PATH }}project/new"><div class="main_project_empty_container"></div></a>
      {% endif %}


			</div>

			<!-- Bottom buttons -->
      {% if is_beheerder %}
			<div id="whiteFrame_userMangement_container">
				<a href="{{ BASE_PATH }}user/home" onfocus="blur()">
					<img src="{{ BASE_PATH }}media/img/users.jpg" alt="User management" border="0" /></a>
			</div>
      {% endif %}
      {% if not is_chirurg %}
			<div id="whiteFrame_export_container">
				<a href="http://www.google.nl" alt="Export data" onfocus="blur()">
					<img src="{{ BASE_PATH }}media/img/export.jpg" border="0" /></a>
			</div><br>
			<div id="whiteFrame_import_container">
				<a href="http://www.google.nl" onfocus="blur()">
					<img src="{{ BASE_PATH }}media/img/import.jpg" alt="Import data" border="0" /></a>
      </div>
      {% endif %}

		</div>

		<!-- Right white frame -->
		<div class="whiteFrame_center_right"></div>

	</div>

	<!-- Bottom white frame -->
	<div class="whiteFrame_bottom_container">
		<div class="whiteFrame_bottom_left"></div>
		<div class="whiteFrame_bottom_center"></div>
		<div class="whiteFrame_bottom_right"></div>
	</div>
</div>

<!--div id="overlay" style="width:100%;height:100%;background-color:black;opacity:.4;position:absolute;top:0px;left:0px;"></div>
<div style="width:300px;height:100px;background-color:white;opacity:1;margin:auto;"></div-->


{% endblock body %}