{% extends 'base.html' %}

{% block title %}Kies een project{% endblock title %}

{% block body %}

<p><a href="./project/new">New Project</a></p>

{% for project, images in projects.iteritems %}
<h1>{{ project.name }}</h1>
  <a href="./project/{{ project.id }}">
  {% if images %}
    {% for image in images %}
      <img src="{{DATADIR}}thumbnail/100/{{ image.path }}" alt="plaatje" />
    {% endfor %}
  {% else %}
     <img src="./media/img/newproject.png" style="height: 100px" alt="new project" />
  {% endif %}
  </a>
{% endfor %}

{% endblock body %}
