{% extends 'base.html' %}

{% block title %}Login to C.A.S.A.M.{% endblock title %}

{% block head %}
  <link rel="stylesheet" href="{{ BASE_PATH }}media/css/whiteFrame.css">
	<link rel="stylesheet" href="{{ BASE_PATH }}media/css/login.css">
	<script language="javascript">

  document.observe("dom:loaded", function(){
		$('id_username').focus();
  });

  </script>
{% endblock head %}

{% block user_dock %}
{% endblock user_dock %}

{% block body %}


<div style="width:300px;margin:auto;overflow: visible;margin-top:125px;color:white;height:30px;">
{% if failed %}
The credentials you entered are not valid.
{% endif %}
</div>


<div class="whiteFrame_container">

	<!-- Top white frame -->
	<div class="whiteFrame_top_container">
		<div class="whiteFrame_top_left"></div>
		<div class="whiteFrame_top_middle"></div>
		<div class="whiteFrame_top_right"></div>
	</div>

	<div class="whiteFrame_center_container">

		<!-- Left white frame -->
		<div class="whiteFrame_center_left"></div>

		<!-- Content white frame -->
		<div class="whiteFrame_center_middle">

			<div style="background-image:url('{{ BASE_PATH }}media/img/user.jpg');height:48px;width:48px;float:left;background-repeat: no-repeat;"></div>
			
			<form enctype="multipart/form-data" method="post" style="margin:auto;display:block;">
				<div>
					<label for="id_username">Username:</label>
					{{ form.username }}
					<label for="id_password">Password:</label>
					{{ form.password }}
				</div>
			
			<div style="background-image:url('{{ BASE_PATH }}media/img/clock.jpg');height:32px;width:32px;float:left;clear:both;"></div>
				{{form.expiration}}
			<input type="submit" value="Login" />
			</form>
		</div>

		<!-- Right white frame -->
		<div class="whiteFrame_center_right"></div>

	</div>

	<!-- Bottom white frame -->
	<div class="whiteFrame_bottom_container">
		<div class="whiteFrame_bottom_left"></div>
		<div class="whiteFrame_bottom_center"></div>
		<div class="whiteFrame_bottom_right"></div>
	</div>
</div>
{% endblock body %}